<hr>
<div class="footer">
    {{ if .Params.series }}
        {{ $Site := .Site }}
        {{ $postTitle := .Title }}
        {{ $seriesUrl := print "series/" (.Params.series | urlize) }}
        {{ $series := .Site.GetPage $seriesUrl }}
        Другие посты из серии <b><a href="{{ $Site.BaseURL }}series/{{ .Params.series | urlize }}">{{ .Params.series }}</a></b>:
        <ul class="series">
            {{ range $series.Pages }}
                {{ if ne .Title $postTitle }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>, 
                        {{ .Date | time.Format ":date_long" }}
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    {{ else }}
	    {{ if .PrevInSection }}
            <a class="previous-post" href="{{ .PrevInSection.Permalink }}?ref=footer"><span style="font-weight:bold;">« Previous</span><br>{{ .PrevInSection.Title | truncate 50 "..."}}</a>
        {{ end }}
	    {{ if .NextInSection }}
            <div class="next-post">
                <a href="{{ .NextInSection.Permalink }}?ref=footer"><span style="font-weight:bold;">Next »</span><br>{{ .NextInSection.Title | truncate 50 "..." }}</a>
            </div>
        {{ end }}
    {{ end }}
</div>
