{{ partial "head/head.html" . }}
    {{ $layoutReverseClass := "" }}
    {{ $darkModeClass := "" }}
    {{ $homeClass := "" }}
    {{ if .IsHome }}
        {{ $homeClass = "home" }}
    {{ end }}
    {{ if .Site.Params.layoutReverse }}
        {{ $layoutReverseClass = "layout-reverse" }}
    {{ end }}
    {{ if .Site.Params.dark_mode }}
        {{ $darkModeClass = "dark-theme" }}
    {{ end }}
    {{ $bodyClasses := (printf "%s %s %s" $layoutReverseClass $darkModeClass $homeClass) }}
    <body class="{{ $bodyClasses }}">
        <div class="wrapper">
            {{ if not .IsHome }}
                {{ partial "sidebar/mobile-header.html" . }}
            {{ end }}
            {{ partial "sidebar/sidebar.html" . }}
            <main class="content container">
                {{ block "main" . -}}{{- end }}
            </main>
            {{ block "sidebar" . }}{{ end }}
            {{ if .IsHome }}
                {{ partial "sidebar/mobile-footer.html" }}
            {{ end }}
        </div>
    </body>
</html>
